<p style="color: green"><%= notice %></p>

<ul class="list-group">

<li class="list-group-item"><% for task in @plan.tasks %>
<% if params[:id].to_i == task.id %>

     <%= task.details %>

  <%end%>
<% end %>
</li>
<li class="list-group-item">  <%= link_to "Edit this task", edit_plan_task_path(@plan, @task) %> 
 </li>
<li class="list-group-item">  <%= link_to 'Add task', plan_tasks_path(@plan) %> 
 </li>
<li class="list-group-item"> <%= link_to "Back to tasks", plan_tasks_path(@plan) %> </li>
<li class="list-group-item">  <%= button_to "Destroy this task", @tasks, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}  %>
 </li>
  </ul>

