
<table class="table">   

  <tbody>
  <% @plans.order('plans.created_at ASC').each do |plan| %>
  <%if plan.user_id == current_user.id%>
   <tr style="<%='background-color: #dff7e3' if plan.completed %>">
     <td> <%= link_to plan.title, plan_tasks_path(plan), {style: 'color: black;', :class => "btn btn-default" } %> </td>
     <td><%= link_to 'Edit plan', edit_plan_path(plan), {style: 'color: black;', :class => "btn btn-warning" } %></td>
     <td><%= link_to 'Destroy task', plan, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Sure?'}, style: 'color: black;', class: 'btn btn-danger'  %></td>
   <%if plan.completed%>
     <td><center>
        <%= form_with model: plan do |f| %>
        <%= f.text_field :description, type: 'hidden' %>
        <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden' %>
        <%= f.submit 'completed', class: 'btn btn-outline-secondary btn'%>
        <% end %>
        </center></td>
     <%else%>
      <td><center>
        <%= form_with model: plan do |f| %>
        <%= f.text_field :description, type: 'hidden' %>
        <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden' %>
        <%= f.submit 'in progress', class: 'btn btn-outline-secondary btn'%>
        <% end %>
        </center>
        </td>
     <%end%>
     </tr>
    <% end%>
  <% end %>
  </tbody>
  </table>
    <div class="digg_pagination center">
     </div>

